NODE_ENV=development
JWT_STRING=anyrandomstring
DB_DIALECT=postgres
DOC_HOST=documentation_home
DB_URL=postgres://username:password@host:port/db_name
DATABASE_URL=postgres://username:password@staging_host:port/staging_db_name
