build
node_modules/
server/middleware/validator.js
test.js
.env
.DS_Store
.vscode/
coverage
.nyc_output
package-lock.json

# Webstorm
.idea/

# Yarn
yarn.lock

# Redis server dump
dump.rdb

# jsdoc
docs/
