version: '3'

services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
  database:
    image: postgres:latest
    ports:
      - "5432:5432"
  backend:
    image: esa-backend:latest
    ports:
      - "6050:6050"
    depends_on:
      - redis
      - database
      